<h2><%= link_to "Add an Event", new_event_path %></h2>

<br>
  <%= link_to_if params[:filter], "All Days", events_path %> |
  <%= link_to_if params[:filter] != 'tuesday', "Tuesday", events_path(filter:"tuesday") %> |
  <%= link_to_if params[:filter] != 'wednesday', "Wednesday", events_path(filter:"wednesday") %>
<br><br>

  <%= link_to_if params[:filter], "All Events", events_path %> |
  <%= link_to_if params[:filter] != 'keynote', "Keynote", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Track 1", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Track 2", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Track 3", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Track 4", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Track 5", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'coffee', "Coffee Breaks", events_path(filter:"coffee") %> |
  <%= link_to_if params[:filter] != 'keynote', "Lunch", events_path(filter:"keynote") %>
  <%= link_to_if params[:filter] != 'keynote', "Party", events_path(filter:"keynote") %>
<br><br>

<table class="table">
  <thead>
    <th><%= link_to "Date", events_path(:sort_param => "time") %></th><th><%= link_to "Start", events_path(:sort_param => "start") %></th><th>End</th><th>Name</th><th>Track</th>
  </thead>
  <% @events.each do |event| %>
    <tr>
      <td class="col-md-2"><%= event.date.strftime("%m/%d/%Y") %></td>
      <td class="col-md-2"><%= event.start.strftime("%I:%M %p") %></td>
      <td class="col-md-2"><%= event.end.strftime("%I:%M %p") %></td>
      <td class="col-md-3"><%= link_to event.name, event_path(event) %></td>
      <td class="col-md-3"><%= event.track %></td>
    </tr>
  <% end %>
</table>
